import os

SECRET_KEY = os.getenv("SECRET_KEY", "")
ALGORITHM = os.getenv("ALGORITHM", "")
ACCESS_TOKEN_EXPIRE_MINUTES = int(os.getenv("ACCESS_TOKEN_EXPIRE_MINUTES", "0"))
PG_HOST = os.getenv("PG_HOST", "")
PG_PORT = os.getenv("PG_PORT", "")
PG_DBNAME = os.getenv("PG_DBNAME", "")
PG_USER = os.getenv("PG_USER", "")
PG_PASSWORD = os.getenv("PG_PASSWORD", "")
AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID", "")
AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY", "")
TABLE_USERS = os.getenv("TABLE_USERS", "")
LOGGING_FOLDER = os.getenv("LOG_FOLDER", "")
LOGGING_MAX_FILE_SIZE_BYTES = int(os.getenv("LOGGING_MAX_FILE_SIZE_BYTES", ""))
LOGGING_LOCAL_BACK_UP_COUNT = int(os.getenv("LOGGING_LOCAL_BACK_UP_COUNT", ""))
AWS_LOGGING_BUCKET_NAME = os.getenv("AWS_LOGGING_BUCKET_NAME", "")
APP_NAME = os.getenv("APP_NAME", "")